<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>パズル問題(初級)</title>
    <link rel="stylesheet" href="puzzle01.css">
  </head>
  <body>
    <main>  
      <div class="container">
        <div class="box1"></div>
        <div class="row"> 
          <div class="box2"></div>
          <div class="box3"></div>
        </div>
        <div class="box4"></div>
      </div>
    </main>
  </body>
</html>